@model List<TblDistrict>
@{
    ViewData["Title"] = "District Management";
}

<h2>District Management</h2>
<div class="text-center mt-4">
    <a class="btn btn-outline-primary" asp-controller="Districts" asp-action="DistrictManagement">
        Add New District
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.DistictId">
                <td class="Name">@item.DistictName</td>
                <td class="IsActive">@item.IsActive</td>
               
            </tr>
        }
    </tbody>
</table>
<form asp-controller="Home" asp-action="ExportDistrictsToExcel" method="post" style="display:inline;">
    <button type="submit" class="btn btn-outline-success mb-3">Export to Excel</button>
</form>

@section Scripts {
    <script>
       
    </script>
}
