@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="GenderManagement">
        Manage Genders
    </a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="TournamentManagement">
        Manage Tournaments
    </a>
</div>
